@import "tailwindcss";

aside::-webkit-scrollbar {
  width: 4px;
}

aside::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5); 
  border-radius: 4px;
}

aside::-webkit-scrollbar-track {
  background-color: transparent;
}   

@layer utilities {
  .animate-fade-in-up {
    animation: fadeInUp 0.3s ease-out forwards;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}